# IDE
notelizer.kdev4
notelizer.kdev4/*
.kdev4
.kdev4/*

# Virtual Environment
env
env/*

# Local files
local_files
local_files/*

# Pyinstaller files
build
build/*
dist
dist/*

# Yah
__pycache__
__pycache__/*
notelizer.spec
